html,
body{
    padding: 0;
    background-color: #1A2B42;
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

#logo{
    width: auto;
    height: 200px;
}

.title{
    color: white;
    font-size: 64px;
    font-family: 'Iceberg', cursive;
}

.login-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: black;
    width: 40%;
    height: 30%;
    border-radius: 15px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border-radius: 15px;
}

.fill{
    display: flex;
    background-color: white;
    align-items: center;
    color: black;
    border: 1px solid white;
    width: 60%;
    border-radius: 34px;
    padding-left: 10px;
}

input:focus{
    outline: none;
}

.fill-item{
    margin-left: 5px;
    margin-right: 5px;
}

#no-border{
    border: none;
    width: 80%;
}

.destaque-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A5A7E;
    color: black;
    border-radius: 15px;
    width: 200px;
    height: 30px;
}

.cadastro-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 40%;
    height: 15%;
    border-radius: 15px;
}

#logo-small{
    width: auto;
    height: 50px;
    margin-left: 2%;
    margin-right: 1%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.small-title{
    font-size: 25px;
    color: white;
    margin-right: 2%;
}

.section-title{
    font-size: 35px;
    color: white;
}

.cadastro-form-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    width: 60%;
    height: 70%;
    border-radius: 15px;
    background-color: #353535;
}

#empty{
    display: flex;
    width: 80%;
    margin-left: 10px;
    justify-content: center;
    height: 20px;
}

.fill-item-row{
    display: flex;
    width: 90%;
    margin-right: 5%;
    justify-content: flex-end;
}

.cadastro-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    color: white;
    border-radius: 15px;
    width: 200px;
    height: 30px;
}

.app{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    background-image: url("detail.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.profile-pic{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.sidebar-btn{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.icon{
    margin-right: 8%;
    margin-left: 20%;
    height: auto;
    width: 30px;
}

.sidebar-btn:hover{
    background-color: #1a597e88;
    text-decoration: underline;
}

#current{
    background-color: #1A5A7E;
    color: black;
}

.profile{
    display: flex;
    color: black;
    font-size: 30px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.profile-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.column{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.profile-item{
    background-color: white;
    display: flex;
    border: 1px solid black;
    width: 80%;
    height: 30%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.info{
    margin-left: 15px;
}

.jogos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.new-game-btn{
    border: 4px dashed black;
    width: 200px;
    height: 250px;
    margin-left: 2%;
    background-image: url(plus.png);
    background-repeat: no-repeat;
    background-position: center;
}

.pesquisa{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3%;
}

.container-pesquisa{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.container-barra-pesquisa{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:  #140F0F;
    border-radius: 15px;
}

.barra-pesquisa{
    display: flex;
    width: 80%;
    align-items: center;
}

.icon-pesquisa{
    margin: 0.5%;
    margin-left: 1%;
    height: 30px;
    width: auto;
}

#pesquisa{
    display: flex;
    width: 100%;
    margin-left: 10px;
    justify-content: center;
    height: 20px;
    background-color: #140F0F;
    border: none;
    color: white;
}

.filtros{
    display: flex;
    flex-direction: row;
    background-color: #140F0F;
    color: white;
    width: 90%;
    justify-content: flex-start;
    border-radius: 0px 0px 15px 15px;
}

.filtro-texto{
    margin-left: 2%;
}

.dropdown{
    margin-left: 2%;
    display: flex;
    justify-content: space-around;
    width: 110px;
    color: rgba(255, 255, 255, 0.50);
}

.dropdown-content{
    display: none;
    position: absolute;
    margin-top: 20px;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn{
    background-image: url(dropdown.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 18px;
    width: 25px;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: #ddd;}

.results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    width: 90%;
    padding-top: 3%;
}

.result-item{
    background-image: url(Game\ Exemple.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 20%);
}

.platforma{
    background-color: #329BE7;
    display: flex;
    justify-content: center;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.40);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}