{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand a Game - Meus Jogos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="app">
        <div class="side">
            <div class="sidebar">
                <div class="profile-pic">
                    <img id="logo" src="{% static 'main/images/ProfilePic.png' %}">
                </div>
                <div class="username">
                    {{request.user.username}}
                </div>
                <div class="form-division-line"></div>
                <a 
                    class="sidebar-btn"
                    href="{% url 'editUser' %}"
                    id="{% if currentNumber == 0 %}{{ 'current' }}{% endif %}"
                >
                    <img class="icon" src="{% static 'main/images/user_w.png' %}">
                    <div class="text">Perfil</div>
                </a>
                <a 
                    class="sidebar-btn"
                    href="{% url 'myGames' %}"
                    id="{% if currentNumber == 1 %}{{ 'current' }}{% endif %}"
                >
                    <img class="icon" src="{% static 'main/images/jogos.png' %}">
                    <div class="text">Meus Jogos</div>
                </a>
                <a 
                    class="sidebar-btn"
                    href="{% url 'borrowed' %}"
                    id="{% if currentNumber == 2 %}{{ 'current' }}{% endif %}"
                >
                    <img class="icon" src="{% static 'main/images/emprestar.png' %}">
                    <div class="text">Emprestados</div>
                </a>
                <a 
                    class="sidebar-btn"
                    href="{% url 'home' %}"
                    id="{% if currentNumber == 3 %}{{ 'current' }}{% endif %}"
                >
                    <img class="icon" src="{% static 'main/images/pesquisa.png' %}">
                    <div class="text">Pesquisa</div>
                </a>
                <a 
                    class="sidebar-btn"
                    id="{% if currentNumber == 4 %}{{ 'current' }}{% endif %}"
                >
                    <img class="icon" src="{% static 'main/images/notificação.png' %}">
                    <div class="text">Notificações</div>
                </a>
                <a 
                    class="sidebar-btn"
                    href="{% url 'logout' %}"
                    id="{% if currentNumber == 5 %}{{ 'current' }}{% endif %}"
                >
                    <img class="icon" src="{% static 'main/images/sign-out.svg' %}">
                    <div class="text">Sair</div>
                </a>
            </div>
        </div>
        
        {% block content %}
        {% endblock %}

    </div>
</body>

<script>
    {% if erro %}
        alert("{{erro}}");
    {% endif %}
</script>

</html>