{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <style>
  </style>
{% endblock %}

{% block content %}

<div class="jogos">

    {% if games_list %}
            {% for game in games_list %}

                <div class="result-item"
                    style='
                        {% if game.cover %}
                            background-image: url("{{game.cover.url}}");
                        {% endif %}
                    '
                >
                    <div class="platforma">
                        {{game.platform}}
                    </div>

                    <div class="overlay">
                        <div>
                            Nome: {{game.title}}
                            <br>
                            Dono: {{game.user.username}}
                        </div>
                        <div>
                            Tempo Maximo: {{game.rentalDuration}} dias
                        </div>
                    </div>
                </div>

            {% endfor %}
    {% endif %}
</div>

{% endblock %}
