{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <style>
  </style>
{% endblock %}

{% block content %}

<div class="jogos">

    <a
        class="new-game-btn" 
        style=' background-image: url({% static 'main/images/plus.svg' %})'
        href="{% url 'home' %}"
    >
    </a>

    {% if games_list %}
            {% for game in games_list %}

                <div class="result-item"
                    style='
                        {% if game.cover %}
                            background-image: url("{{game.cover.url}}");
                        {% endif %}
                    '
                >
                    <div class="platforma" style="background: {{game.platform.color}}; color: {{game.platform.textColor}}">
                        <img src="{{game.platform.logo.url}}">
                        {{game.platform}}
                    </div>

                    <div class="overlay-static">
                        <div>
                            Nome: {{game.title}}
                            <br>
                            Dono: {{game.user.username}}
                            <br>
                            Tempo Maximo: {{game.rentalDuration}} dias
                        </div>
                        <a href="{% url 'giveBack' game.id %}" class="overlay-action">
                            <img src="{% static 'main/images/arrow-u-down-left.svg' %}">
                            Devolver
                        </a>
                    </div>
                </div>

            {% endfor %}
    {% endif %}
</div>

{% endblock %}
