{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jogos" style="justify-content: center">

    <form 
        class="game-form-container"
        method="post" 
        action="{% url 'editGame' game.id %}"
        enctype="multipart/form-data"
    >
        {% csrf_token %}

        {% for field in form %}
            <div class="game-form-group">
                {% if field.id_for_label == "id_img"%}
                    <div class="game-img-field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% else %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                {% endif %}
            </div>
            <div class="form-division-line">
            </div>
        {% endfor %}

        <div class="delete-game">
            <img src="{% static 'main/images/trash.svg' %}">
            <a href="{% url 'delete' game.id %}">
                Excluir jogo
            </a>
        </div>

        <div style="width: 100%; display: flex; justify-content: center">
            <div class="cadastro-btn">
                <input 
                    class="destaque-btn"
                    type="submit" 
                    value="Salvar edições"
                >
            </div>
        </div>
    </form>

    <div class="preview">
        Preview Da Foto da Capa:
        <img id="image-preview" src="#" alt="Image Preview" style="display: none;">
    </div>
</div>

<script>
    // Image preview script
    $(document).ready(function() {
        // Triggered when a file is selected
        $('input[type="file"]').change(function() {
            readURL(this);
        });
    });

    // Function to display image preview
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#image-preview').attr('src', e.target.result).show();
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

{% endblock %}
