{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <style>
  </style>
{% endblock %}

{% block content %}

<div class="pesquisa">
    <div class="container-pesquisa">
        <div class="container-barra-pesquisa">
            <img 
                class="icon-pesquisa" 
                src="{% static 'main/images/pesquisa.png' %}"
            >
            <form 
                class="barra-pesquisa"
                method="post" 
                action="{% url 'home' %}"
            >
                <input class="fill" id="pesquisa">
                <input 
                    class="destaque-btn"
                    type="submit" 
                    value="Pesquisar"
                >
            </form> 
        </div>

        <div class="filtros">
            <div class="filtro-texto">
                Plataforma
            </div>
            <div class="dropdown">
                Qualquer
                <div class="dropbtn"></div>
                <div class="dropdown-content">
                    {% if platforms %}
                        {% for platform in platforms %}
                            <a href="#">{{platform}}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="filtro-texto">
                Tempo Maximo
            </div>
            <div class="dropdown">
                Qualquer
                <div class="dropbtn"></div>
                <div class="dropdown-content">
                    <a href="#">30 dias</a>
                    <a href="#">60 dias</a>
                    <a href="#">90 dias</a>
                    <a href="#">120 dias</a>
                    <a href="#">150 dias</a>
                </div>
            </div>
        </div>
        
    </div>

    <div class="results">

        {% if games_list %}
            {% for game in games_list %}
                {% if game.isAvailableToRent and not game.isRented %}
                    <div class="result-item"
                        style='
                            background-image: url("{{game.cover.url}}");
                        '
                    >
                        <div class="platforma">
                            {{game.platform}}
                        </div>
    
                        
                        <div class="overlay">
                            <a href="{% url 'borrow' game.id %}">Pegar emprestado</a>

                            <div>
                                Dono: {{game.user.username}}
                            </div>
                            <div>
                                Tempo Maximo: {{game.rentalDuration}} dias
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}

    </div>
</div>

{% endblock %}
