{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <style>
  </style>
{% endblock %}

{% block content %}

<div class="pesquisa">
    <div class="container-pesquisa">

        <form 
            class="barra-pesquisa"
            method="post" 
            action="{% url 'home' %}"
        >
            <div class="container-barra-pesquisa">
                <img 
                    class="icon-pesquisa" 
                    src="{% static 'main/images/pesquisa.png' %}"
                >
                
                    {% csrf_token %}
                    <input class="fill" id="pesquisa" name="search">
            </div>

            <div class="filtros">

                <label for="platforms" class="dropdown">Plataforma</label>
                <select id="platforms" name="platforms">
                    <option value="qualquer">Qualquer</option>
                    {% if platforms %}
                        {% for platform in platforms %}
                            <option value="{{platform}}">
                                {{platform}}
                            </option>
                        {% endfor %}
                    {% endif %}
                
                </select>

                <label for="days" class="dropdown">Quantidade de dias</label>
                <select id="days" name="days">
                    <option value="qualquer">Qualquer</option>
                    <option value="30">30 dias</option>
                    <option value="60">60 dias</option>
                    <option value="90">90 dias</option>
                    <option value="120">120 dias</option>
                    <option value="150">150 dias</option>
                </select>

            </div>

            <input 
                class="destaque-btn"
                type="submit" 
                value="Pesquisar"
            >

        </form>
        
    </div>

    <div class="results">

        {% if games_list %}
            {% for game in games_list %}
                {% if game.isAvailableToRent and not game.isRented %}
                    <div class="result-item"
                        style='
                            background-image: url("{{game.cover.url}}");
                        '
                    >
                        <div class="platforma" style="background: {{game.platform.color}}; color: {{game.platform.textColor}}">
                            <img src="{{game.platform.logo.url}}">
                            {{game.platform}}
                        </div>
    
                        
                        <div class="overlay">
                            <a href="{% url 'borrow' game.id %}" class="overlay-action">
                                <img src="{% static 'main/images/plus-circle.svg' %}">
                                Pegar emprestado
                            </a>

                            <div>
                                Nome: {{game.title}}
                            </div>
                            <div>
                                Tempo Maximo: {{game.rentalDuration}} dias
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}

    </div>
</div>

{% endblock %}
