<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>

  <!-- login.html -->
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="id_email">Email:</label>
    <input type="email" name="email" id="id_email">

    <label for="id_password">Password:</label>
    <input type="password" name="password" id="id_password">

    <input type="submit" value="Login">
  </form>

</body>
</html>