{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand a Game - Meus Jogos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <div class="side">
            <div class="sidebar">
                <div class="profile-pic">
                    <img id="logo" src="{% static 'main/images/ProfilePic.png' %}">
                </div>
                <div class="sidebar-btn">
                    <img class="icon" src="{% static 'main/images/user_w.png' %}">
                    <div class="text">Perfil</div>
                </div>
                <div class="sidebar-btn">
                    <img class="icon" src="{% static 'main/images/jogos.png' %}">
                    <div class="text">Meus Jogos</div>
                </div>
                <div class="sidebar-btn">
                    <img class="icon" src="{% static 'main/images/emprestar.png' %}">
                    <div class="text">Emprestados</div>
                </div>
                <div class="sidebar-btn" id="current">
                    <img class="icon" src="{% static 'main/images/pesquisa_b.png' %}">
                    <div class="text">Pesquisa</div>
                </div>
                <div class="sidebar-btn">
                    <img class="icon" src="{% static 'main/images/notificação.png' %}">
                    <div class="text">Notificações</div>
                </div>
            </div>
        </div>

        <div class="jogos">
            <div class="new-game-btn" style=' background-image: url({% static 'main/images/plus.svg' %})'></div>

            {% if games_list %}
                    {% for game in games_list %}

                        <div class="result-item"
                            style='
                                {% if game.cover %}
                                    background-image: url("{{game.cover.url}}");
                                {% endif %}
                            '
                        >
                            <div class="platforma">
                                {{game.platform}}
                            </div>
        
                            <div class="overlay">
                                <div>
                                    Dono: {{game.user.username}}
                                </div>
                                <div>
                                    Tempo Maximo: {{game.rentalDuration}} dias
                                </div>
                            </div>
                        </div>

                    {% endfor %}
            {% endif %}
        </div>

    </div>
</body>
</html>