{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<div class="jogos">
    <a
        class="new-game-btn" 
        style=' background-image: url({% static 'main/images/plus.svg' %})'
        href="{% url 'addGame' %}"
    >
    </a>

    {% if games_list %}
            {% for game in games_list %}

                <div class="result-item"
                    style='
                        {% if game.cover %}
                            background-image: url("{{game.cover.url}}");
                        {% endif %}
                    '
                >
                    <div class="platforma" style="background: {{game.platform.color}}; color: {{game.platform.textColor}}">
                        <img src="{{game.platform.logo.url}}">
                        {{game.platform}}
                    </div>

                    <div class="overlay">
                        <a href="edit_game/{{ game.id }}" class="overlay-action">
                            <img src="{% static 'main/images/pencil-line.svg' %}">
                            Editar
                        </a>
                        <div>
                            Nome: {{game.title}}
                        </div>
                        <div>
                            Tempo Maximo: {{game.rentalDuration}} dias
                        </div>
                    </div>
                </div>

            {% endfor %}
    {% endif %}
</div>

{% endblock %}
