{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <style>
  </style>
{% endblock %}

{% block content %}

<div class="jogos">
    <div class="notifications-container">
        <div class="notification">
            <h3 class="title">Titlzdfdsfe</h3>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, molestias officiis error quos ducimus illo quisquam, laborum, repellendus ratione delectus debitis inventore quo similique nihil a iure id! Repellendus, laboriosam.
            </p>
            <div class="buttons-container">
                <a class="accept">Aceitar</a>
                <a class="refuse">Recusar</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
